@media screen and (max-width: 1157px) {
  .benefits {
    padding: 96px 0;
  }
  .benefit-item-bg {
    display: none;
  }
}
.benefits {
  background-color: var(--background-color);
}
.benefit-page {
  display: flex;
}
.benefit-headline {
  color: var(--color-text);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.benefit-description {
  font-size: 16px;
  color: #434455;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .benefit-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .benefit-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .benefit-item {
    width: calc((100% - 24px) / 2);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
  .benefit-headline {
    font-size: 20px;
    font-weight: 500;
    text-align: unset;
  }
  .benefit-list {
    display: flex;
    gap: 24px;
  }
  .benefit-item {
    width: calc((100% - 72px) / 4);
  }
  .benefit-item-icon {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .benefit-item-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 24px 100px;
    background-color: var(--color-hover);
    border-radius: 4px;
  }
}
