@media screen and (max-width: 767px) {
  .footer-page {
    flex-direction: column;
  }
  .headline-footer {
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe-form {
    flex-direction: column;
  }
}
.footer {
  background-color: var(--color-text);
  padding: 96px 0;
}

.footer-page {
  display: flex;
  gap: 72px;
}
.footer-page-logo {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
.footer-description {
  color: var(--color-hover);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 268px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-color-f {
  color: var(--color-hover);
}
.social-media {
  display: flex;
  flex-direction: column;
}
.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-and-func);
}
.social-list-link-footer:hover,
.social-list-link-footer:focus,
.social-list-link-footer:active {
  background-color: #31d0aa;
}
.social-list-icon-footer {
  letter-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  width: 24px;
  height: 24px;
  fill: var(--color-hover);
}
.headline-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  display: flex;
  flex-direction: column;
}
.subscribe-btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 165px;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.subscribe-btn:focus,
.subscribe-btn:hover {
  background-color: #404bbf;
}
.send-form-icon-footer {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.subscribe-input-footer {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.subscribe-input-footer::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer {
    padding: 0;
  }
  .footer .container {
    width: 552px;
    padding: 96px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .subscribe-input-footer {
    min-width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-page {
    justify-content: flex-start;
    align-items: baseline;
  }
  .footer {
    background-color: var(--color-text);
    padding: 100px 0;
  }
  .footer-page .container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .footer-page-logo {
    margin-right: 120px;
  }
}
