@media screen and (max-width: 767px) {
  .works {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .works {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .works {
    padding-bottom: 120px;
    background-color: var(--background-color);
  }
  .works-list {
    display: flex;
    gap: 24px;
  }
  .works-list-item {
    width: calc((100% - 2 * 24px) / 3);
  }
  .works-headline {
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--color-text);
  }
}
